h1 {
    font-size: 40px;
    margin-top: 60px;
}
h1,
h2 {
    font-family: "Quicksand", sans-serif;
}
h2 {
    margin-top: 15px;
}

i {
    font-style: normal;
}

body {
    background-color: #faaca8;
    background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

img {
    width: 100%;
    height: 27px;
}

.wrapper {
    width: 1100px;
    min-height: 100%;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.addNewContainer,
.containerDeleteButton {
    color: white;
}

.addNewContainer:hover,
.containerDeleteButton:hover {
    color: black;
    cursor: pointer;
}

.container {
    background-color: white;
    padding: 20px;
    width: 65%;
    margin-top: 40px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-height: 100%;
    overflow: auto;
}

.buttonContainer {
    display: flex;
    justify-content: end;
}

.textInputBox {
    display: flex;
    margin-bottom: 10px;
}

.taskList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

button span {
    color: transparent;
}

.container .delete:first-child .material-symbols-rounded {
    color: transparent;
}

.taskLi {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

input[type="checkbox"]:checked ~ .taskInputField {
    text-decoration: line-through;
}

.fa-regular .fa-trash-can {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    background: white;
    border: 1px solid transparent;
    padding: 3px;
}

i .fa-trash-can {
    background: #eee;
    border: 1px solid transparent;
}

.delete {
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.delete:hover {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    cursor: pointer;
}

/* icons */
.material-symbols-rounded {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    color: #545454;
}

.material-symbols-rounded:hover {
    color: #151515;
}

/* colour picker */
.colourPicker {
    height: auto;
    display: flex;
    margin-bottom: 20px;
}

.colours {
    margin-right: 5px;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 42%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.colours:hover {
    cursor: pointer;
}

.colour1 {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.colour2 {
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.colour3 {
    background-color: #faaca8;
    background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}
